<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}デジタル昭和横丁{% endblock %}</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  {% block extra_css %}{% endblock %}

  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap"
    rel="stylesheet">

  <link rel="icon" type="image/webp" href="{{ url_for('static', filename='img/favicon.webp') }}">
</head>

<body class="{% block body_class %}{% endblock %}">

  {% include 'layout/header.html' %}

  <main>
    {% block content %}{% endblock %}
  </main>

  {% include 'layout/footer.html' %}

  <!-- base.html の </body> 直前 -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

  {% block scripts %}{% endblock %}
</body>


</html>
